<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">ATutor XML Site-map Generator</name> 
    <description lang="en">Creates an XML sitemap that can be submitted to search engines for indexing</description> 
    <maintainers>
        <maintainer> 
            <name>ATutorSpaces</name> 
            <email>support@atutorspaces.com</email> 
        </maintainer>
    </maintainers> 
    <url>https://atutorspaces.com</url> 
    <license>GPL</license>
    <private>
        <subsite></subsite>
    </private>
	<release> 
        <version>0.1</version> 
		<privileges>
			<instructor_privilege></instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2014-08-23</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>